.custom-login-button {
    font-size: 18px;
    padding: 30px 100px;
    border-radius: 8px;
    background: linear-gradient(45deg, #00d755, #00d756da);
    color: #fff;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-login-button:hover {
    background: linear-gradient(45deg, #00d755, #000000);
    transform: scale(1.05);
}

.custom-login-button:focus {
    outline: none;
}
  